@import url('https://fonts.googleapis.com/css?family=Righteous|Merriweather|Open+Sans');

$logo-font: 'Righteous', cursive;
$header-font: 'Merriweather', serif;
$text-font: 'Open Sans', sans-serif;

$main-color: #37474F;
$main-color-hover: #395969;

$light-title-color: #9e9e9e;
$light-color: #f8f8f8;

$active-color: #45b898;
$active-color-dark: #45b898;
$inactive-color: #9e9e9e;

$border-color: #d0d0d0;
$shadow-color: #aaaaaa;

$white-color: #ffffff;

$footer-background-color: #e8e8e8;
$footer-link-color: #37474F;
$footer-text-color: #9e9e9e;

$src-background: #f3f3f3;