@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans");

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  color: {{headerColor}}
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
  font-family: "Open Sans", sans-serif; }

h5 {
  font-size: 1em;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}

h6 {
  font-size: .9em;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}
