@import 'src/app/Common/scss/variables.scss';

.preview-block {
  border: 1px solid $border-color;
  margin-top: 1em;

  .example {
    padding: 1em;
    text-align: left;
  }

  .code {
    border-left: 0.3em solid $border-color;
    text-align: left;
  }
}
