.links-set {
  text-align: center;
  margin-top: 1em;

  .decorated {
    text-decoration: underline;
  }

  a {
    font-size: 1em;
  }

  a[disabled] {
    pointer-events: none;
    filter: grayscale(.9)
  }
}